.App {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background: #1f2833;
  font-size: 35px;
  display: flex;
  color: rgb(10, 10, 10);
  width: 100vw;
  height: 100vh;
}

.layout-sidebar {
  font-weight: 600;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 250px;
  min-width: 250px;
  height: 85vh;
  z-index: 999;
  overflow-y: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0 0 6px 0 rgb(0 0 0 / 16%);
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 16%);
  top: 10vh;
  left: 20px;
  border-radius: 5px;
  margin-right: 20px;
  background: -webkit-gradient(linear,left top,left bottom,from(#45a29e),to(#37827f));
  background: linear-gradient(180deg,#45a29e 0,#37827f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=0);
}

.sidebar-subtext {
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  margin-top: 20px;
  text-align: center;
  width: 90%;
}

.layout-topbar {
  display: flex;  
  background: #1f2833;
  position: fixed;
  width: 100vw;
  height: 80px;
  font-weight: 600;
  font-size: 40px;
  color: #45a29e;
  justify-content: center;
  align-items: center;
}

.graph-container {
  text-align: center;
  margin-top: 50px;
  height: calc(100vh - 50px);
  width: 100%;
}

.page{
  height: 100%;
  width: 100%;
  display:  flex;
  align-items: center;
  justify-content: center;
  background: #1f2833;
}

.data-table{
  width: 90%;
  height: 85vh;
  background: #0b0c10;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 6px 0 rgb(0 0 0 / 16%);
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 16%);
}

.dot-container {
  padding-top: 2.1vh;
  padding-bottom: 2.1vh;
  padding-left: 4.8%;
  padding-right: 4.8%;
}
